
  <div class="main-wrapper">
    <div class="wrapper" style="background:#fff;padding:24px;height: 100%;">
      <form [formGroup]="updateForm" (ngSubmit)="done()">

        <nz-form-item>
          <nz-form-label>User name</nz-form-label>
          <nz-form-control>
            <input nz-input nzSize="large" nzSize="large" formControlName="fullName" value="fullName" />
          </nz-form-control>
        </nz-form-item>
        <input type="hidden" formControlName="userId" value="userId" />

        <nz-form-item>
          <nz-form-label>Contact Address</nz-form-label>
          <nz-form-control> 
            <input nz-input nzSize="large" formControlName="contactAddress" placeholder="email" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>Email</nz-form-label>
          <nz-form-control>
            <input nz-input nzSize="large" formControlName="email" value="email" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>Account Name</nz-form-label>
          <nz-form-control>
            <input nz-input nzSize="large" formControlName="subAccountName"  />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>Role</nz-form-label>
          <nz-form-control>
            <input nz-input nzSize="large" formControlName="roles" value="roles">
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Bank</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="bankSortCode" nzPlaceHolder="Choose your bank" nzAllowClear nzSize="large">
              <ng-container *ngFor="let bank of banks">
                <nz-option [nzValue]="bank.value" [nzLabel]="bank.label"></nz-option>
              </ng-container>

            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>Bank Account number</nz-form-label>
          <nz-form-control>
            <nz-input-group nzSize="large">
              <input formControlName="bankAccount" nz-input nzSize="large"
                placeholder="Type your bank account number" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <div nz-row>
          <div nz-col [nzSpan]="24" style="text-align: right;">
            <button nz-button [nzType]="'primary'" [nzLoading]="isLoading">Save</button>
            <button nz-button>Clear</button>
          </div>
        </div>

      </form>
    </div>
    <nz-card style="width:300px;" nzTitle="Key Information">
      <p><strong> Full name:</strong> Provide your full name here e.g Lara Davis. </p>
      <p> <strong>Email Address: </strong> This is your registered email address</p>
      <p><strong>Company: </strong> Your brand and business matters to us. Include the name of your company e.g XYZ Blog
      </p>
      <p> <strong>Phone Number: </strong>There might be a need to reach out to you. Provide an authentic phone number
        e.g +2348090000000</p>
      <p> <strong>Role: </strong> This show your current role</p>
      <p><strong> Bank: </strong> Select your bank from the dropbox </p>
      <p> <strong>Bank Account Number:</strong> Your bank account & bank details are highly required to enable you to
        earn money from our platform</p>


      <p></p>
    </nz-card>

  </div>
