
<div class="container">


    <div class="card-content collapse show">
      <div class="card-body">
        <div class="text-center row clearfix mb-2">
          <div class="col-12">
            <div class="bg-circ-img" style="border-radius: 50%; overflow: hidden; height: 80%; width: 50%; margin: auto;">
              <img src="{{product.photoUrl}}" alt="" class="img-fluid">
            </div>
          </div>
        </div>
        <h3 class="text-center">NGN {{product.price}} / KG</h3>
      </div>
      <div class="table-responsive">
        <table class="table table-de mb-0">
          <tbody>
            <tr>
              <td>Metric Tone Size</td>
              <td><i class="icon-layers"></i> 1000 KG</td>
            </tr>
            <tr>
              <td>Storage Fee / Month</td>
              <td><i class="icon-layers"></i> NGN 1,000</td>
            </tr>
            <tr>
              <td colspan="1" style="text-align: center;">
                <a class="nav-link" data-toggle="modal" data-target="#basicExample" (click)="market.show()">
                 Store
                </a>
              <td colspan="1" style="text-align: center;">
                <a class="nav-link" data-toggle="modal" data-target="#basicExample" (click)="market.show()">
                  Deliver
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <!--<div class="paystack-buttons text-center d-md-flex d-lg-flex d-xl-flex justify-content-between">
      <angular4-paystack
        [class]="'btn btn-primary m-3'"
        [key]="'pk_test_6da80bb925e2a4559e9ab5f428435505c6f3ced7'" [email]="email"
        [amount]="total" [ref]="tRef" [subaccount]="'ACCT_n1gih40yuwiss3k'" (close)="paymentCancel()" (callback)="paymentDone($event)"
        [class]="'btn btn-primary'"
      >Pay With Paystack component</angular4-paystack>
    
      <button
        class="btn btn-danger m-3"
        angular4-paystack
        [channels]="['card', 'bank']"
        [key]="'pk_test_6da80bb925e2a4559e9ab5f428435505c6f3ced7'" [email]="email"
        [amount]="total" [ref]="tRef" (close)="paymentCancel()" (callback)="paymentDone($event)"
        [class]="'btn btn-primary btn-lg'"
        >Pay With Paystack Directive</button>
    </div>-->
  
  
  <div mdbModal #market="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
       aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">{{product.productName}}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="market.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
      <form [formGroup]="buyForm" (ngSubmit)="Buy()">
        <div class="modal-content">
         
          <div class="modal-body">
            <div class="row">
              <div class="col-4">
                <img src="{{product.photoUrl}}" alt="" class="img-fluid">
              </div>
              <div class="col-8">
                <div class="md-form mb-5">
                  <i class="fas fa-user prefix grey-text"></i>
                  <input type="number" disabled class="form-control validate" formControlName="price" mdbInput value="{{product.price}}">
                  <label data-error="wrong" data-success="right">Price</label>
                </div>
                <input type="hidden" formControlName="userId" value="userId" />
  
                <div class="md-form mb-5">
                  <i class="fas fa-user prefix grey-text"></i>
                  <input type="number" disabled class="form-control validate" formControlName="storeCharge" mdbInput value="storeCharge">
                  <label data-error="wrong" data-success="right">Storage Monthly Charge</label>
                </div>
  
  
                <div class="md-form mb-5">
                  <i class="fas fa-envelope prefix grey-text"></i>
                  <input type="number" class="form-control validate" mdbInput formControlName="quantity">
                  <label data-error="wrong" data-success="right">Quantity to purchase</label>
                </div>
                <div class="md-form mb-5">
                  <i class="fas fa-user prefix grey-text"></i>
                  <input type="number" disabled class="form-control validate" formControlName="charges" mdbInput value="charges">
                  <label>transaction charge</label>
                </div>
  
              
                <div class="md-form mb-5">
                  <i class="fas fa-envelope prefix grey-text"></i>
                  <input type="number" disabled class="form-control validate" mdbInput formControlName="total" value="(buyForm.get('price').value) * (buyForm.get('quantity').value)">
                  <label data-error="wrong" data-success="right" for="form29">Total </label>
                </div>
              </div>
            </div>
          </div>
          <!--<button class="btn btn-primary" mdbWavesEffect routerLink="/paystack">Store order</button>-->
          <button class="btn btn-primary" mdbWavesEffect >Buy</button>
       
        
        </div>
      </form>
      <div class="modal-footer">
          <!-- <button class="btn btn-primary" mdbWavesEffect routerLink="/paystack">Store order</button>
          -->
          <!-- <a class="" mdbWavesEffect routerLink="/product/store">Store order</a>
          <a class="" mdbWavesEffect routerLink="/product/deliver">Deliver order</a>
   -->
        <!-- <button class="btn btn-primary">Store Good</button>
        <button class="btn btn-primary">Deliver</button>-->
      </div> 
    </div>
  
  </div>
